{% extends "base.html" %}

{% block head%}
{% load static %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/foundation.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
<link rel="stylesheet" href="{% static "css/chat.css" %}">
<link rel='stylesheet' type="text/css" href="{% static "fullcalendar/dist/fullcalendar.css" %}" />
{% endblock %}



{% block scripts %}
{% load static %}
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "moment/moment.js" %}"></script>
<script src="{% static "fullcalendar/dist/fullcalendar.js" %}"></script>
{% endblock %}
